@charset "UTF-8";

* {
    font-family: arial, Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #00ABBD, #026E81);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #37444d92;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #FF9933;
    text-align: center;
    text-shadow: 1px 1px 2px #89531cb3;
    ;
}

h2 {
    color: #55a2be;
}

p {
    text-align: justify;
}